extends layout.pug

block content
  section#content
    h2= text
    if hint
      p
        i Hint: #{hint}
    a(href=`${id}?side=${btnName}`) #{btnName}
    br
    a(href='/cards') next card
    
    